html,body, #root, .Home, .Header, .container, .container-header{
    height: 100%;
    width: 100%;
}

.Header{
    background-image:linear-gradient(to left, #ef71bf, #f75fbe,#c144f7,#9547c5, rgb(106 34 191 / 85%), rgba(115, 0, 189, 0.85));
}

.Header .container-header{
    display: flex;
    flex-direction: row;
}

.Header .container-header .left{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.Header .container-header .right{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Header .container-header .right .container-image{
    -webkit-animation: bounce 3s infinite ease-in-out;
    -o-animation: bounce 3s infinite ease-in-out;
    -ms-animation: bounce 3s infinite ease-in-out;
    -moz-animation: bounce 3s infinite ease-in-out;
    animation: bounce 3s infinite ease-in-out;
    animation-name: bookanimation;
    z-index: 10;
}

.Header .container-header .left{
    z-index: 10;
}

.Header .container-header .left .container-text{
    color: white;
    width: 100%;
}

.Header .container-header .left h1{
    font-size: 60px;
    text-transform: uppercase;
}

.Header .container-header .left h4{
    margin-top: 20px;
}

.Header .container-header .left h5{
    margin-top: 20px;
}

.Header .container-header .left p{
    margin-top: 20px;
    font-size: 14px;
}


.Header .container-header .left a{
    background: white;
    border: 1px solid #852CC8;
    color: #852CC8;
    font-weight: bold;
    margin-top: 20px;
}

.Header .container-border-image img{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px
}

@keyframes bookanimation{
    0% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-5px);
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767px) { 
    .Header .container-header{
        flex-direction: column;
    }

    .Header .container-header .left{
        text-align: center;
        align-items: center;
    }

    .Header .container-header .left h1{
        font-size: 45px;
    }


    .Header .container-header .left{
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .Header{
        background-image: linear-gradient(to left, #be2df3,#b51ef7,#8e30c7, rgb(106 34 191 / 85%), rgba(115, 0, 189, 0.85));
    }
 }